body {
    background-color: rgba(0, 0, 0, 0.93);
        margin: auto;
    font-family: sans-serif;
    color: #fff;
    width: 90%;
    min-height: 100vh; /* para que cubra toda la pantalla */
    box-sizing: border-box;
    letter-spacing: 2px;
    padding: 20px 0;
    overflow-x: hidden;
}

form {
    font-size: 16px;
}

h1 {
    text-align: center;
    font-family: sans-serif;
    font-weight: 100;
    margin: 0 auto;
    margin-top: 1.5em;
    color: #fff;
    font-size: 2.3em;
    text-shadow: 0 0 50px #fff;
}

h2 {
    font-size: 2em;
    font-family: sans-serif;
    font-weight: 300;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2em;
    margin-top: 3em;
    letter-spacing: 4px;
    text-shadow: 0 0 40px #fff;
}

h3 {
    font-size: 2em;
    font-family: sans-serif;
    font-weight: 300;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2em;
    margin-top: 3em;
    letter-spacing: 4px;
}

.box {
    position: relative;
    min-height: 600px;
    margin: 10px auto 0 auto;
    background: url("https://media.istockphoto.com/id/1442417585/es/foto/persona-recibiendo-un-pedazo-de-pizza-de-pepperoni-con-queso.jpg?s=612x612&w=0&k=20&c=Uk4fj96OIDxE4v2S5sRRXRY_gZ899_TE6jGD-T-TysI=")center / cover fixed #fff;
    width: 100%;
    border-radius: 3em;
}

.opaco {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.66);
    border-radius: 5px;
    z-index: 1;
    border-radius: 3em;
}

.opaco2 {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.66);
    border-radius: 5px;
    z-index: 1;
    border-radius: 1.9em;
}

li {
    font-size: 1.5em;
    margin: 0;
    font-weight: 100;
    text-shadow: 0 0 10px #fffaff;
    padding: 10px 20px;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    padding: 20px;
    flex-wrap: wrap; /* para que en móvil se adapte */
}

.img {
    flex: 1 1 400px;
    min-height: 400px;
    background: url("https://media.istockphoto.com/id/1427212489/photo/pizza-hawaiian-cheese-on-wood-table-homemade-food-concept.jpg?s=612x612&w=0&k=20&c=Z2UdWXfFQfKJf-Sfp0Edf679NvQ_fCceKZQKB2cPU40=")
    center / cover no-repeat;
    box-shadow: 0px 0px 50px #fff5;
    border-radius: 1em;
    box-sizing: border-box;
}

.salsa {
        flex: 1 1 400px;
    min-height: 400px;
    background: url("https://www.nestleprofessional-latam.com/sites/default/files/styles/np_recipe_detail/public/2023-05/base-masa-ketchup-e-ingredientes-pizza-mesa%20%281%29.jpg?itok=U-pduWiT")
    center / cover no-repeat;
    box-shadow: 0px 0px 50px #fff5;
    border-radius: 1em;
    box-sizing: border-box;
}

.toppings {
    flex: 1 1 400px;
    min-height: 400px;
    background: url("https://us.123rf.com/450wm/lightfieldstudios/lightfieldstudios1803/lightfieldstudios180300834/97253537-vista-superior-de-pizza-cruda-con-diferentes-ingredientes-en-mesa-de-concreto.jpg?ver=6")
    center / cover no-repeat;
    box-shadow: 0px 0px 50px #fff5;
    border-radius: 1em;
    box-sizing: border-box;
}

.titulo-animado {
    position: relative;
    display: inline-block;
}

.pasos {
    margin: 0 auto;
    flex: 1 1 400px;
    height: 100%;
    background: url("https://acdn-us.mitiendanube.com/stores/001/664/252/products/4e475ddf-2c43-4d47-b69c-990a92e91029-26f258f7fdb6a2b9fb16276674103675-640-0.jpeg") center / cover fixed;
    border-radius: 30px;
    box-sizing: border-box;
    
}

h4 {
    margin: 0 auto;
    margin-top: 50px;
    font-size: 1.5em;
    font-weight: 100;
    text-shadow: 0 0 5px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

a {
  text-decoration: none; /* saca el subrayado */
  color: #3498db; /* color base */
  font-weight: bold; /* un poco más de presencia */
  transition: color 0.3s, transform 0.2s; /* animación suave */
}

a:hover {
  color: #1abc9c; /* cambia de color al pasar el mouse */
  transform: scale(1.05); /* leve zoom */
}

@keyframes zoomSombra {
    0% {
    transform: scale(0.8);
    opacity: 0;
    text-shadow: none;
    }
    100% {
    transform: scale(1);
    opacity: 1;
    text-shadow: 2px 2px 5px #b71c1c;
    }
}

.titulo-pizza {
    animation: zoomSombra 1.5s ease forwards;
    font-family: 'Georgia', serif;
    font-size: 3rem;
    color: #d32f2f;
}

@keyframes movimientoHumo {
    0%, 100% {
    transform: translateY(0);
    }
    50% {
    transform: translateY(-5px);
    }
}

.humo {
    animation: movimientoHumo 4s ease-in-out infinite;
    font-family: 'Brush Script MT', cursive;
    font-size: 3rem;
    color: #d84315;
    text-shadow: 2px 2px 4px #7f3608;
}

.lampara {
    color: #ffcc66;
    text-shadow:
    0 0 4px #ffb84d,
    0 0 8px #ff9900;
    animation: parpadeo 1.5s infinite;
}

@keyframes parpadeo {
    0%, 100% {
    text-shadow:
    0 0 6px #ffcc66,
    0 0 12px #ff9900,
    0 0 20px #ff6600;
    }
    45% {
    text-shadow:
    0 0 3px #ffb84d,
    0 0 6px #ff9900;
    }
    50% {
    text-shadow:
      none; /* apagado total */
    }
    55% {
    text-shadow:
    0 0 4px #ffcc66,
    0 0 8px #ff9900;
    }
    70% {
    text-shadow:
      none; /* otro destello apagado */
}
}

